Rectangle1{
    position: absolute;
width: 1360px;
height: 616px;
left: 40px;
top: 99px;
background: url(image.png);

}

Rectangle2
{
    position: absolute;
    width: 420px;
    height: 747px;
    left: 980px;
    top: 99px;
    background: #031CFF;
    mix-blend-mode: multiply;
}
Rectangle3{
position: absolute;
width: 1360px;
height: 202px;
left: 1400px;
top: 715px;
background: linear-gradient(180deg, #CE9671 -0.5%, rgba(206, 150, 113, 0) 100%);
background-blend-mode: screen;
transform: rotate(-180deg);
}

Goplaces{
    position: absolute;
width: 358px;
height: 93px;
left: 341px;
top: 350px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 78.9191px;
line-height: 92px;
/* identical to box height */


color: #FFFFFF;
}

Figma{
    position: absolute;
    width: 104px;
    height: 22px;
    left: 341px;
    top: 443px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;
}
line{
    position: absolute;
    width: 343px;
    height: 0px;
    left: 525px;
    top: 466px;
    
    border: 2px solid #FFFFFF;
}
r4{
position: absolute;
width: 251px;
height: 54px;
left: 341px;
top: 526px;
display: inline-block;
background: #031CFF;
border-radius: 100px;
background-color: #031CFF;
color: rgb(8, 0, 0);
padding: 14px 25px;
text-align: center;
text-decoration: none;

}
a:link, a:visited {
    background-color: #031CFF;
    color: rgb(8, 0, 0);
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #031CFF;
  }

body
{
    text-align: center;
    font-size: medium;
}